template(name="home")
	h2 Home

	h3 by source

	ul
		li
			a(href='/sources/all') all sources
		li
			a(href='/sources/one/Facebook') source/Facebook		
		li
			a(href='/sources/one/Chartboost') source/Chartboost

	+footer