template(name="footer")

	hr
	ul
		li 
			a(href='/home') top
		li 
			a(href='/roi/menu') roi
		li 
			a(href='/admin') admin
		li 
			a(href='/users') players
		li
			a(href='/players/info/x') players/info/x


